/* Border-box sizing everywhere */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14pt;
  color: #9f9f9f;
  background-color: #1c1c1c;
  margin: 0;
  height: 100%;
}

#page-wrapper {
  height: 100%;
}

$nav-bar-height: 50px;
