@import "global";
@import "colors";

.player-wrapper {
  height: 100%;
  padding-top: $nav-bar-height;
}

.player {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  min-width: 777px;
  max-width: 960px;
  padding-top: 1em;

  .soundcloud-logo-link {
    align-self: flex-end;

    margin-right: 0;
    margin-bottom: 0.25em;
  }

  .url-paste-box {
    flex: 1 1 45%;

    width: 100%;
    box-shadow: 0 5px 7px 0 #0c0c0c;
    z-index: 10;
  }

  .playlist {
    flex: 1 1 45%;
    width: 100%;
  }
}
