@import "./global";

.nav-bar-wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 50px;
  background-color: #0d0d0d;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  max-width: 960px;
}

.logo-title {
  display: flex;
  align-items: center;

  margin-left: 1em;
  margin-right: 1em;

  cursor: default;

  .logo {
    width: 27px;
    height: 27px;
    margin-right: 0.5em;
  }

  .title {
    font-size: 20pt;
    color: #5b5b5b;
  }
}

.lobby-url {
  flex: 0 1 auto;

  display: flex;
  align-items: center;

  height: 30px;
  margin-right: 1em;

  font-size: 14pt;
  color: #c9c9c9;

  .label {
    flex: 0 0 auto;
  }

  input {
    flex: 1 1 20px;

    padding: 3px;
    font-size: 12pt;
    color: black;
    background-color: #EEEEEE;
    border: 1px solid #999999;
    min-width: 20px;
    height: 100%;
    cursor: text;

    &:focus {
      outline: none;
    }
  }
}
