@import "./global";
@import "./colors";

.player-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  height: 100%;
}

.player {
  flex: 1 0 auto;

  display: flex;
  justify-content: center;

  width: 100%;
  min-width: 777px;
  padding: 1em;

  .playlist {
    flex: 0 1 45%;
  }
}
