@import "./global";
@import "./colors";

.player-wrapper {
  height: 100%;
}

.player {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: stretch;

  width: 100%;
  min-width: 777px;
  padding-top: 1em;

  .url-paste-box {
    flex: 1 1 45%;

    width: 100%;
    min-width: 200px;
    max-width: 960px;
    box-shadow: 0 2px 10px black;
    z-index: 10;
  }

  .playlist {
    flex: 1 1 45%;

    width: 100%;
    min-width: 200px;
    max-width: 960px;
  }
}
