.copy-to-clipboard-button {
  flex: 0 0 auto;

  width: 40px;
  height: 100%;
  border: none;
  background: #999 linear-gradient(#d4d4d4, #999);
  cursor: pointer;

  img {
    width: 14px;
    height: 16px;
  }
}
