ul.playlist {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  width: 100%;
  max-width: 960px;

  list-style-type: none;
  margin: 0;
  padding: 0 2em 0 2em;

  .header {
    display: flex;
    align-items: center;

    width: 100%;
    min-width: 200px;
    height: 1em;

    .added-by-label {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
