ul.playlist {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  list-style-type: none;
  margin: 0;
  padding: 1em 2em 0 2em;
  background-color: #161616;

  .header {
    width: 100%;
    text-align: right;
    margin-bottom: 1em;

    .added-by-label {
      margin: 0 0 0 auto;
    }

    hr {
      margin: 0.25em 0 0 0;
      border-color: #1C1C1C;
    }
  }
}
