@import "../../colors";
@import "../../utils";

li.track {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $lighter-body-text;

  $item-margin: 1em;
  margin-bottom: 1em;

  .album-art {
    flex: 0 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: $item-margin;
    width: 120px;
    height: 120px;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .artist-title-wrapper {
    margin-left: 0;
    margin-right: auto;
    overflow: hidden;

    .artist {
      @include ellipsizedText;

      font-size: 0.9em;
      color: $darker-body-text;
    }

    .title {
      @include ellipsizedText;
      font-size: 1em;
    }
  }

  .added-by {
    margin-left: $item-margin;
    white-space: nowrap;
  }
}

/* Large view for currently-playing track */
li.track.now-playing {
  .album-art img {
    width: 120px;
    height: 120px;
  }

  .artist-title-wrapper {
    padding-left: 1em;
  }

  .artist {
    font-size: 1em;
  }

  .title {
    font-size: 1.2em;
  }
}
