@import "../../colors";
@import "../../utils";

li.track {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $lighter-body-text;

  $item-margin: 1em;

  img {
    margin-right: $item-margin;
    width: 80px;
    height: 80px;
  }

  .artist-title-wrapper {
    margin-left: 0;
    margin-right: auto;
    overflow: hidden;

    .artist {
      @include ellipsizedText;

      font-size: 1.2em;
      color: $darker-body-text;
    }

    .title {
      @include ellipsizedText;
      font-size: 1.5em;
    }
  }

  .added-by {
    margin-left: $item-margin;
    white-space: nowrap;
  }
}

/* Large view for currently-playing track */
li.track.large {
  img {
    width: 120px;
    height: 120px;
  }

  .artist {
    font-size: 1.5em;
  }

  .title {
    font-size: 2em;
  }
}
